<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Stuff Me{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/victor.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
</head>

<body>

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=239628763149123";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

{% block header %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a href="{{ path ('index') }}" class="page-scroll"><img class="logo" src="{{ asset('assets/img/logo_menu.svg') }}"/></a>
                <a class="navbar-brand page-scroll logotext">by GRAV</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="{{ path ('index') }}">Accueil</a>
                    </li>
                    <li class="">
                        <a href="{{ path ('univers') }}">L'univers</a>
                    </li>
                    <li class="">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('fos_user_profile_show') }}" >
                                {{ app.user.username }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                        {% endif %}

                    </li>

                    <li class="mesparties">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('mesparties') }}" >
                                Mes Parties
                            </a>
                        {% else %}

                        {% endif %}
                    </li>

                    <li class="">
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <a href="{{ path('easyadmin') }}">
                                Administration
                            </a>
                        {% else %}

                        {% endif %}

                    </li>

                    <li class="connexion">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block body %}



{% endblock %}

{% block footer %}
    <footer>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 facebook">
                <div class="fb-page" data-href="https://www.facebook.com/StuffmeGame/" data-tabs="timeline" data-height="320" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/StuffmeGame/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/StuffmeGame/">Stuff Me</a></blockquote></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <img src="http://149.91.89.19/promo/img/logo/logo.svg" alt="Stuff Me logo" draggable="false">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-lg-offset-1 col-md-offset-1 col-xs-6">
                <a href="#!" type="button" data-toggle="modal" data-target="#myModal" title="Nos mentions légales">Mentions légales</a>
                <p class="copyright">© Stuff Me 2017 - Tous droits réservés</p>
            </div>
        </div>

        <div class="by-grav">
            <p class="col-xs-12">Website created by <a href="http://149.91.89.19/company/index.html" target="_blank" title="#!">Grav'</a></p>
        </div>
    </footer>


    <!-- ==== M O D A L  Mentions légales ===== -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel">Informations légales</h2>
                </div>
                <div class="modal-body">

                    <h4>1. Présentation du site.</h4>
                    <p>
                        En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site
                        <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
                    </p>
                    <p>
                        <b>Propriétaire</b> : IUT de Troyes <!-- ICI Statut du propriétaire du site (SARL numéro siret) --> – 9 rue de Québec à Troyes<br>
                        <b>Responsable publication</b> :  Yvan Dobradevsky – <a href="#!">contact@stuff-me.fr</a><br>
                        Le responsable publication est une personne physique ou une personne morale.<br>
                        <b>Webmaster</b> : Grav' – <a href="#!">hey@grav.com</a><br>
                        <b>Hébergeur</b> : IUT de Troyes – 9 rue de Québec à Troyes<br>
                        Crédits : les mentions légales ont été générées et offertes par Subdelirium <a target="_blank" href="http://www.subdelirium.com/generateur-de-mentions-legales/">Mentions légales</a>
                    </p>
                    <br>

                    <h4>2. Conditions générales d’utilisation du site et des services proposés.</h4>
                    <p>
                        L’utilisation du site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> sont donc invités à les consulter de manière régulière.
                    </p>
                    <p>
                        Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Grav', qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
                    </p>
                    <p>
                        Le site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> est mis à jour régulièrement par Grav'. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
                    </p>
                    <br>

                    <h4>3. Description des services fournis.</h4>
                    <p>
                        Le site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> a pour objet de fournir une information concernant l’ensemble de ses activités.
                    </p>
                    <p>
                        Grav' s’efforce de fournir sur le site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
                    </p>
                    <p>
                        Tous les informations indiquées sur le site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
                    </p>
                    <br>

                    <h4>4. Limitations contractuelles sur les données techniques.</h4>
                    <p>
                        Le site utilise la technologie JavaScript.
                    </p>
                    <p>
                        Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour
                    </p>
                    <br>

                    <h4>5. Propriété intellectuelle et contrefaçons.</h4>
                    <p>
                        Grav' est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.
                    </p>
                    <p>
                        Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : Grav'.
                    </p>
                    <p>
                        Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
                    </p>
                    <br>

                    <h4>6. Limitations de responsabilité.</h4>
                    <p>
                        Grav' ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site http://149.91.89.19/jeu/, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.
                    </p>
                    <p>
                        Grav' ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a>.
                    </p>
                    <p>
                        Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. Grav' se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, Grav' se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).
                    </p>
                    <br>

                    <h4>7. Gestion des données personnelles.</h4>
                    <p>
                        En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.
                    </p>

                    <p>
                        A l'occasion de l'utilisation du site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a>, peuvent êtres recueillies : l'URL des liens par l'intermédiaire desquels l'utilisateur a accédé au site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a>, le fournisseur d'accès de l'utilisateur, l'adresse de protocole Internet (IP) de l'utilisateur, des données de connexion pour nos statistiques de consultation (type de navigateur, nombre de visiteurs, rubriques visitées…) pour l’optimisation de notre site en terme de rubriques et de navigation. Ces informations ne sont en aucun cas transmises à des tiers.
                    </p>
                    <p>
                        En tout état de cause Grav' ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a>. L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> l’obligation ou non de fournir ces informations.
                    </p>
                    <p>
                        Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.
                    </p>
                    <p>
                        Aucune information personnelle de l'utilisateur du site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat de Grav' et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a>.
                    </p>
                    <p>
                        Le site n'est pas déclaré à la CNIL car il ne recueille pas d'informations personnelles.
                    </p>
                    <p>
                        Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
                    </p>
                    <br>

                    <h4>8. Liens hypertextes et cookies.</h4>
                    <p>
                        Le site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de Grav'. Cependant, Grav' n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.
                    </p>
                    <p>
                        La navigation sur le site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.
                    </p>
                    <p>
                        Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies :
                    </p>
                    <p>
                        Sous Internet Explorer : onglet outil (pictogramme en forme de rouage en haut a droite) / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.
                    </p>
                    <p>
                        Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox, puis aller dans l'onglet Options. Cliquer sur l'onglet Vie privée.
                        Paramétrez les Règles de conservation sur :  utiliser les paramètres personnalisés pour l'historique. Enfin décochez-la pour  désactiver les cookies.
                    </p>
                    <p>
                        Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un rouage). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur Paramètres de contenu. Dans la section "Cookies", vous pouvez bloquer les cookies.
                    </p>
                    <p>
                        Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois lignes horizontales). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur préférences.  Dans l'onglet "Confidentialité", vous pouvez bloquer les cookies.
                    </p>
                    <br>

                    <h4>9. Droit applicable et attribution de juridiction.</h4>
                    <p>
                        Tout litige en relation avec l’utilisation du site <a href="http://149.91.89.19/jeu/" title="Stuff Me - http://149.91.89.19/jeu/">http://149.91.89.19/jeu/</a> est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.
                    </p>
                    <br>

                    <h4>10. Les principales lois concernées.</h4>
                    <p>
                        Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.
                    </p>
                    <p>
                        Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
                    </p>
                    <br>

                    <h4>11. Lexique.</h4>
                    <p>
                        Utilisateur : Internaute se connectant, utilisant le site susnommé.
                    </p>
                    <p>
                        Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Accepter & Fermer</button>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block top %}
    <a href="#0" class="cd-top">Top</a>
{% endblock %}

{% block javascripts %}
    <!-- JS Basique (Bootstrap & JQuery) -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <!-- JS de la barre de nav -->
    <script src="{{ asset('assets/js/creative.min.js') }}"></script>
    <!-- JS du scroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ asset('assets/js/scrollreveal.min.js') }}"></script>
    <!-- JS de la barre de nav -->
    <script src="{{ asset('assets/js/toparrow.js') }}"></script>
    <script src="{{ asset('assets/js/carousel.js') }}"></script>
    <!-- JS effet parallax -->
    <script src="{{ asset('assets/js/jquery.parallax-1.1.3.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#z0').parallax("50%", 0.5);
            $('#z1').parallax("50%", 0.5);
            $('#z2').parallax("50%", 0.5);
            $('#z3').parallax("50%", 0.5);
        })
    </script>
    <!-- JS des cartes
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>-->
    <!-- JS animations texte-->
    <script type="text/javascript">
        $(document).ready(function() {
            /* Every time the window is scrolled ... */
            $(window).scroll( function(){
                /* Check the location of each desired element */
                $('.hideme').each( function(i){
                    var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                    var bottom_of_window = $(window).scrollTop() + $(window).height();
                    /* If the object is completely visible in the window, fade it it */
                    if( bottom_of_window > bottom_of_object ){

                        $(this).animate({'opacity':'1'},500);
                    }
                });
            });
        });
    </script>

    <!-- JS Galerie page : Univers -->
    <script src="https://gite-au-porzay.victorgutt.com/js/_scripts/galerie-jquery.mixitup.min.js"></script>
{% endblock %}
</body>
</html>
