{% extends '::base.html.twig' %}

{% block body %}
    <div class="zone" id="z0">
        <div class="zbackground"></div>
    </div>

    <h1>{{ user.username }}</h1>
    <h2>Mes parties en cours</h2>

    <div>
        <ul>
            {% set i = 0 %}
            {% for parties in user.parties %}
                {% for partie in parties %}
                    {% if partie is not empty %}
                        <li>Partie contre : <a href="{{ path('afficherpartie', {'id': partie.id}) }}">
                                {% if partie.joueur1.username != user.username %}
                                    {{ partie.joueur1.username }}
                                {% else %}
                                    {{ partie.joueur2.username }}
                                {% endif %}


                            </a>
                            {% if partie.gagnant  == null %}
                                - tour de : {{ partie.partieTour }}
                            {% else %}
                                - Gagnant : {{ partie.gagnant }}
                            {% endif %}
                        </li>
                        {% set i = i + 1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if i == 0 %}
                Aucune partie en cours.
            {% endif %}
        </ul>
    </div>

    <a href="{{ path('creation') }}">Créer une nouvelle partie</a>
{% endblock %}